<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>更新 | 程序猿peiyoung</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="博客,个人,学习,IT,生活,王佩阳,程序猿,springboot,java,后端，更新">
    <meta name="description" content="王佩阳，爱编程。喜欢旅行、摄影、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql,Oracle数据库开发和SSM,SSH等后端流行框架学习。">

    <link rel="icon" type="image/x-icon" href="https://www.peiyoung.com/fsm.ico">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/update.css">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <!--引入共有头部-->
    <div th:replace="header :: header"></div>
    <!--页面主体-->
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-11">
                    <div class="site-inner">
                        <div class="site-inner-img">
                            <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/sun.jpg" class="am-img-thumbnail am-animation-slide-top">
                        </div>
                        <div class="site-inner-mywords am-animation-slide-top">
                            <p><i class="am-icon-quote-left " style="float: left"></i></p><br>
                            <div class="zhy-word">
                                听说最理想的生活是：<br><br>
                                <p>干净的圈子</p>
                                <p>规律的生活</p>
                                <p>中意的人</p>
                            </div>
                            <p><i class="am-icon-quote-right " style="float: right;"></i></p><br><hr>
                        </div>
                    </div>
                    <div class="zhy-update">
                        <div class="zhy-update-log">
                            <div class="zhy-update-log-title" data-am-scrollspy="{animation: 'slide-bottom'}">
                                <h1>更新日志</h1>
                                <p>发布于 2020/04/04</p>
                            </div>
                                <div class="update-log " >
                                    <div class="update-log-date">
                                        <i class="am-icon-hashtag"></i>
                                        <h2>2020年4月4日</h2>
                                    </div>
                                    <div class="update-log-content">
                                        <blockquote><p>博客网站发布,copy于97年的小弟张海洋zhyocean.cn</p>
                                            <p>91年的老人已无地自容，开始修改模板，学习框架</p>
                                            <p>希望也能记录学习生活的轨迹</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="update-leave-message">
                        <div class="comment" style="margin: 0 auto 50px">
                            <div class="comment-top">
                                <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                    <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                                </div>
                                <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                    <div class="goToLogin">
                                        &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                    </div>
                                </div>
                                <div class="commentBtn">
                                    <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                                </div>
                            </div>
                            <div class="comment-bottom">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>

</body>
</html>